@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-black-webfont.woff2') format('woff2'),
        url('../fonts/roboto-black-webfont.woff') format('woff'),
        url('../fonts/roboto-black-webfont.ttf') format('truetype'),
        url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff'),
        url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
        url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff'),
        url('../fonts/roboto-light-webfont.ttf') format('truetype'),
        url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
        url('../fonts/roboto-medium-webfont.woff') format('woff'),
        url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
        url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
        url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thin-webfont.woff') format('woff'),
        url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
        url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
* RESET styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1,h2,h3{
    font-family: robotothin;
}
h3{
    font-size: 36px;
    text-align: center;
}
h4,h5{
    font-family: robotomedium;
}
p,a,span{
    font-family:robotolight;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover,a:focus{
    text-decoration: none;
    color: #fff;
}
/*
* End RESET styles
*/

html, body{
    height: 100%;
}

#text-first h1{
    font-size: 40px;
    width: 81%;
    text-align: left;
    line-height: 46px;
    margin-left: 20%;
}
#text-first strong{
     font-family: 'robotobold';
     display: block;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#welcome-first{
    background: url(../img/bg_bottom_block.png);
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 2vmax;
    height: 100%;
}

#welcome-first{
    padding: 0;
}

#welcome-first #top-first {
    font-size: 36px;
    padding: 17px 0 18px;
    margin: 50px 0px 10px 0px;
    color: #fff;
    background-color: #478adf;
    display: table;
    width: 100%;
}

#date-first{
    border-left-color: white;
    border-left-style: solid;
    border-width: 2px;
    text-align: left;
    padding: 20px 0 16px;
    margin-left: 2.7%;
    margin-top: 2px;
}
#date-first h2{
    font-size: 26px;
    line-height: 26px;
    width: 10em;
    margin-left: 11.2%
}
#date-first strong{
     font-family: 'robotobold';
}
#border-first{
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin:5px;
    position: absolute;
    right: 5px;
    left: 0;
    bottom: 0;
    top: 0;
}

#welcome-first #bottom-first {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#dynamic-links{
    text-align: center;
}

#register-now{
    color: #fff;
    font-family: 'robotolight';
    text-transform: uppercase;
    font-size: 27px;
    cursor: pointer;
    text-decoration: none;
    padding: 13px 55px 18px;
    border: 2px solid white;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: .5px;
}
#button-first{
    margin-top: 16px;
    text-align: center;
}
#register-now:hover {
    font-family: 'robotoblack';
    font-size: 31px;
    padding: 14px 62px 20px 63px;
    color: #478adf;
    background-color: rgba(255, 255, 255, .8);
    border-color: #478adf;    
    /*filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;*/

}

#welcome-to-name-congress{
	min-height: 100%;
	background: #F1F2F6;
}
#welcome-to-name-congress ul{
	margin-bottom: 0;
}
#welcome-to-name-congress li{
	display: inline-block;
    padding: 0 8px;
}
#welcome-to-name-congress div.row:first-child{
	background: #448CCB;
	text-align: center;
	padding: 1.5%;
}
#welcome-to-name-congress div.row:nth-child(1) a, #welcome-to-name-congress div.row:nth-child(2) a{
    font-size: 18px;
}
#welcome-to-name-congress div.row:nth-child(1) a{
    position: relative;
}
#welcome-to-name-congress div.row:first-child a:hover:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 5px solid #8AC0E5;
    /*position: relative;*/
    position: absolute;
    left: 40%;
    bottom: -21px;
    text-decoration: none;
}
#welcome-to-name-congress div.row:nth-child(2){
    background: #8AC0E5;
    text-align: center;
    padding: 1%;
}
#welcome-to-name-congress div.row:nth-child(2) a:hover{
    color: #D1E3FB;
}
#welcome-to-name-congress a{
    color: #fff;
}
#welcome-to-name-congress a:hover{
    text-decoration: none;
}
#welcome-to-name-congress div.row:nth-child(3){
    padding: 0 10%;
}
#welcome-to-name-congress div.row:nth-child(3) p:not(#caption-wtnc){
    color: #4D4D4D;
    font-size: 22px;
}
#caption-wtnc{
    color: #448CCB;
    text-align: center;
    font-size: 38px;
    margin: 2% 0;
}
.carousel-control{
    opacity: 1 !important;
    position: absolute;
    width: 0 !important;
}
.carousel-control.right, .carousel-control.left{
    background-image: none !important; 
}
.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right{
    position: absolute;
    top: 45%;
    text-shadow: none;
    color: #448CCB;
    font-size: 40px;
}
.carousel-control .glyphicon-menu-left:hover, .carousel-control .glyphicon-menu-right:hover{
    color: #8AC0E5;
}
.item{
    padding: 0;
    margin: 0 auto;
}
.carousel-inner>.item img{
    margin: 0 auto;
    /*max-width: 482px;*/
    width: 100%;
}
#carousel-example-generic{
    padding: 7px 5% 0;
}
.light-box{
    pointer-events: none;
    display: block;
}
.light-box:after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 100px solid #478ADF; 
    border-right: 100px solid transparent;  
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    z-index: 10000;
    display: block;
    pointer-events: all;
}
.light-box:hover:after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 100px solid #8AC0E5; 
    border-right: 100px solid transparent;  
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    z-index: 10000;
    display: block;
    pointer-events: all;
}
.carousel-control .glyphicon-menu-left{
    margin-left: -15px;
    left: 0;
}
.carousel-control .glyphicon-menu-right{
    margin-right: -15px;
    right: 0;
}
#buttons-block{
    text-align: center;
    margin-top: 2%;
}
.btn-blue{
    background: #448CCB;
    padding: 5px 20px;
    white-space: nowrap;
    font-size: 20px;
    margin: 1%;
    display: inline-block;
}
.btn-blue:hover{
    background: #8AC0E5;
}
.item span{
    z-index: 1000;
    position: relative;
    display: block;
}

@media screen and (max-width: 1440px) {
    #welcome-to-name-congress div.row:nth-child(1) a, #welcome-to-name-congress div.row:nth-child(2) a {
        font-size: 14px;
    }
    #welcome-to-name-congress div.row:nth-child(3) p:not(#caption-wtnc) {
        font-size: 20px;
    }
    #caption-wtnc {
        font-size: 34px;
    }
}

@media screen and (max-width: 1200px) {
    #welcome-to-name-congress div.row:nth-child(3) p:not(#caption-wtnc) {
        font-size: 16px;
    }
    .light-box:after{
        border-bottom: 90px solid #478ADF; 
        border-right: 90px solid transparent;   
    }
    .light-box:hover:after{
        border-bottom: 90px solid #8AC0E5; 
        border-right: 90px solid transparent;   
    }
}

@media screen and (max-width: 768px) {
    #caption-wtnc {    
        font-size: 26px;    
    }
    #welcome-to-name-congress div.row:nth-child(3) p:not(#caption-wtnc) {
        font-size: 14px;
    }
    .btn-blue {
        font-size: 18px;
    }
    .light-box:after{
        border-bottom: 80px solid #478ADF; 
        border-right: 80px solid transparent;   
    }
    .light-box:hover:after{
        border-bottom: 80px solid #8AC0E5; 
        border-right: 80px solid transparent;   
    }
}
@media screen and (max-width: 480px) {
    .btn-blue {
        font-size: 16px;
    }
    .light-box:after{
        border-bottom: 60px solid #478ADF; 
        border-right: 60px solid transparent;   
    }
    .light-box:hover:after{
        border-bottom: 60px solid #8AC0E5; 
        border-right: 60px solid transparent;   
    }
}






/* Registration */

#registration-block{
    background: #448CCB;
    color: #448CCB;
    text-align: center;
    padding-bottom: 10px;
}
#registration-block .row span{
    color: #448CCB;
}
#registration-block h2{
    text-align: center;
    color: #fff;
}
#registration-block .row:nth-child(2){
    width: 80%;
    margin: 0 auto 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
#registration-block .row:nth-child(2) div{
    background: #fff;
    border: 20px solid #448CCB;
}
#registration-block .row:nth-child(2) p{
    font-size: 17px;
    margin-bottom: 28px
}
#registration-block .row:nth-child(2) p:first-child{
    font-size: 1.7vmax;
    font-weight: bold;
    border-bottom: 1px solid #A9BAC2;
}
#registration-block .row:nth-child(2) span{
    font-size: 55px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
#registration-block .row .color-grey{
    color: #A9BAC2;
}
#registration-block .row .color-blue{
    color: #478ADF;
}
#registration-block .row span{
    font-family: robotoblack;
}
#registration-block .row .title-reg{
    padding: 20px 0;
}
#registration-block h3{
    margin: 40px 0 60px;
    color: #fff;
}
.btn-green{
    background: #87C847;
    padding: 10px 0;
    white-space: nowrap;
    margin: 15px 0;
    display: inline-block;
    width: 90%;
    text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn-green:hover{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#registration-block .row:nth-child(3){
    color: #fff;
    width: 80%;
    margin: 0 auto 30px;
    font-size: 1.5vmax;
}
#registration-block .row .bold{
    font-weight: bold;
}
#registration-block .row:nth-child(3) ul{
    list-style-type: none;
    text-align: left
}

/* Welcome to Singapore */

#welcome-to-singapore{
    background: url(../img/bg_bottom_block.png);
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 2vmax;
    height: 100%;
}
#welcome-to-singapore ul{
    list-style-type: none;
    margin-top: 6%;
}
#welcome-to-singapore li{
    padding: 0 1.5% 1%;
    border-right: 1px solid #fff;
}
#welcome-to-singapore li:last-child{
    border-right: none;
}
#welcome-to-singapore li a:hover{
    text-decoration: none;
}
#welcome-to-singapore li:hover{
    background: url(../img/menu_underline.png) no-repeat bottom;
}
a{
    color: #fff;
    font-size: 1.6vmax;
}
#caption-wts{
    font-size: 5vmax;
    font-weight: bold;
    margin: 2% 0;
}
#caption-wts + p{
    width: 80%;
    margin: 0 auto 6%;
}
.btn-blue{
    background: #448CCB;
    padding: 5px 20px;
    white-space: nowrap;
}

/* Bioevents contacts */

#bioevents-contacts{
    color: #448CCB;
    font-size: 1.5vmax;
    max-width: 80%;
    margin-top: 3%;
}
#bioevents-contacts p, #rights p{
    margin: 0;
}
.border-left-blue{
    border-left: 2px solid #448CCB;
    padding-left: 3% !important;
}
#bioevents-contacts img{
    margin-bottom: 3%;
}
.text-align-center{
    text-align: center;
}

/* Rights */

#rights{
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
    color: #fff;
    background: #448CCB;
    font-size: 1.5vmax;
}
#rights p{
    margin: 5px;
}
#speakers-block{
    background-color: #478adf;
}
#speakers-block .row-background{
    background-color: #f1f2f6;
}
#speakers-block .speakers-block-top h3{
    text-align: center;
    font-size: 36px;
    padding: 12px 0;
    color: #fff;
    background-color: #478adf;
}
#speakers-block .speaker{
    margin:50px 0;
}
#speakers-block .speaker img{
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
#speakers-block .speaker .helper{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#speakers-block .speaker .helper:after{
    content: 'Read about me';
    position: absolute;
    top: -7px;
    width: 70px;
    right: -90px;
    font-size: 15px;
    text-align: left;
    color: #478adf;
    cursor: pointer;
    display: none;
}
#speakers-block .speaker .helper:before{
    content: '+';
    position: absolute;
    display: block;
    right: -15px;
    top: -12px;
    background-color: #478adf;
    padding: 5px 11px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#speakers-block .speaker .helper:hover:after,#speakers-block .speaker .helper:hover:before{
    display: block;

}
#speakers-block .speaker p{
    font-size: 18px;
    color: #478adf;
}
#speakers-block .speaker .first-text{
    font-size: 24px;
    padding-bottom: 5px;
}
#speakers-block .speaker .first-text span{
    font-weight: bold;
}
#program-block{
    background-color: #478adf;
    text-align: center;
    padding-bottom: 140px;
}
#program-block .nav-tabs{
    border:none; 
    display: inline-block;
    width: 100%;
    padding: 0 10%;
}
#program-block .nav-tabs li a{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom:3px;
    border: none;
    position: relative;

}
#program-block .nav-tabs li a span{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.3;
}
#program-block .nav-tabs li a:hover{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fff;
}
#program-block .nav-tabs li.active a span{
    opacity: 1; 
}
#program-block .nav-tabs li.active a{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fff;

}
#program-block .nav-tabs li.active a:after{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #fff;
    bottom: -7px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
}
#program-block .tab-center{
    display: inline-block;
    float: none;
}
#program-block .tab-pane{
    overflow: hidden;
    text-align: center;
    margin-top: 70px;
}
#program-block .hepler{
    overflow: hidden;
    display: table;
    width: 100%;
}
#program-block .hepler .time,#program-block .hepler .button,#program-block .hepler .text{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
#program-block .time{
    width: 31%;
    float: left;
    text-align: left;
    padding-left: 30px;
}
#program-block .time span{
    font-size: 30px;
    font-family: robotomedium;
}
#program-block p, #program-block a{
    font-family: robotolight; 
}
#program-block .text {
    width: 55%;
    float: left;
    text-align: left;
}
#program-block .slide{
    display: none;
}
#program-block .text h4{
    font-size: 25px;
}
#program-block .text p{
    font-size: 22px;
}
#program-block .button{
    width: 11%;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    min-width: 170px;
    padding-right: 30px;
    padding-left: 20px;
}
#program-block .button a{
    min-width: 120px;  
}

#program-block .button a{
    display: block;
    color: #599bf0;
    font-size: 18px;
    padding: 5px 15px;
    border: solid 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#program-block .button a:hover{
    background: #8bb9f4;
    color: #fff;
    border:2px solid #72a5e7;
}
#program-block .main-tab{
    max-width: 1020px;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    padding: 4px 0;
    color: #599bf0;
}
#program-block .button .closed{
    display: none;
}
#program-block .slide .text{
    margin-left: 31%;
}
#program-block .slide .text{
    margin: 0;
    padding: 0;
    width: 100%;
}
#program-block .text p{
    font-size: 22px;
    padding: 8px 0;
}
#program-block .slide .text p:nth-child(2n+1) {
    background-color: #f2f2f2;   
    border: 1px solid #e2eaf4;
}
#program-block h3{
    margin: 70px 0;
    font-size: 36px;
    color: #fff;
}
#sponsorship-block h3{
    margin: 50px 0 40px;
    color: #478adf;
}
.grid-max{
    max-width: 1020px; 
    width: 100%;
    margin-bottom: 75px;
}
.owl-prev,.owl-next{
    position: absolute;
    top: 7px;
    bottom: 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 35px;
}
.owl-prev{
    left: -55px;
    background-image: url(../images/arrow_left.png);
}
.owl-next{
    right: -55px;
    background-image: url(../images/arrow_right.png);
}
#program-block .nav-tabs a span{
    font-size: 30px;
    text-transform: uppercase;
    font-family: robotomedium;
}
#program-block .breakfest{
    color:#fff;
    background-color: #599bf0;
    padding: 1px 0;
}
#program-block .breakfest .time span{
    font-family: robotolight;
    font-size: 22px;
}
.btn-blue:hover{
    background: rgba(68, 140, 203, 0.8);
}
.main-popup{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    height: 100%;
    color:#fff;
    display: none;
    z-index: 999;
}
.main-popup .row{
    margin-top: 50px;
}
.main-popup .row img{
    min-height: 230px;
    border: 5px solid #fff;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}
.main-popup .row p{
  font-family: robotothin;
 font-size: 25px; 
}
.main-popup .row .bio{
    margin: 25px 0;
}
.main-popup .row .name{
    font-family:robotomedium; 
}
.main-popup .row .spec{
    font-size: 18px;
}
.close-popup{
    float: right;
    margin-top: 30px;
    border: 1px solid #fff;
    margin-right: 30px;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: robotolight;
    cursor:pointer;
}
.popup .text{
    font-size: 25px;
    line-height: 28px;
}
#welcome-to-singapore .nav-tabs{
    border-bottom: none;
}
#welcome-to-singapore .nav-tabs > li > a{
    border: none;
}
#welcome-to-singapore .nav-tabs > li.active > a{
    background-color: transparent;
    color: #fff;
    border: none;
}
#welcome-to-singapore .nav-tabs > li > a:hover{
    border: none;
    background-color: transparent;
}

/****************my************/
.list-inline{
    margin-right: 8%;
}
.list-inline > li{
    vertical-align: middle;
    margin: 0 20px;
}
.list-inline > li:last-child{
    margin-left: 12px;
}
#welcome-first #bottom-first{
    bottom: 52px;
}


/****************MEDIA********MEDIA*********MEDIA********MEDIA*******MEDIA*************/
@media (max-width: 1355px){
    #text-first h1{
        margin-left: 4%;
        width: 97%;
    }
}
@media (max-width: 1145px){
    #text-first h1{
        width: 100%;
        font-size: 34px;
    }
    #date-first h2{
        font-size: 24px;
    }
}
@media (max-width: 1024px){
    #text-first h1{
        font-size: 27px;
    }
     #date-first h2{
        font-size: 20px;
    }
    #register-now{
        padding: 7px 32px;
        font-size: 26px;
    }
    #register-now:hover{
       font-size: 28px;
       padding: 8px 44px 9px 45px;
    }
    .list-inline img{
        width: 85%;
    }    
}
@media (max-width: 768px){
    #text-first h1{
        font-size: 20px;
        margin-left: 1%;
    }
     #date-first h2{
        font-size: 18px;
    }
    #register-now{
        font-size: 20px;
    }
    #register-now:hover{
       font-size: 22px;
       padding: 8px 34px 9px 35px;
    }
    .list-inline img{
        width: 70%;
    } 
    .list-inline li{
        margin: 0 6px;
    }   
    .list-inline{
        margin: 0;
    }
}
@media (max-width: 590px){
    #text-first h1{
        
    }
     #date-first h2{
        
    }
}